<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scryve</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/> 
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}iui/iui.css" type="text/css" />

    <link rel="stylesheet" title="Default" href="{{ MEDIA_URL }}iui/t/default/default-theme.css"  type="text/css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/iui-panel-list.css" type="text/css" />
</head>
<body>
    <div class="toolbar">
        <a id="backButton" class="button">Home</a>
        <h1 id="pageTitle">Scryve API</h1>
    </div>

    <ul id="search" title="Search" selected="True">
        <form selected="true" title="Login" class="panel" method="post" action="#" target="_self">
            <fieldset>
                <div class="row">
                    <label for="search">Search</label>
                    <input type="text" name="search" value=""/>
                </div>
            </fieldset>

            <a class="whiteButton" type="submit" href="#">Search</a>
        </form>
    </ul>

    <ul id="results">
        <li class="group">Please select a search result</li>
        <!--
        <li><a href="#">Whatever...</a></li>
        -->
    </ul>

    <div id="company" title="Company" class="panel">
        <h2>Company</h2>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="{{ MEDIA_URL }}iui/iui.js"></script>
    <script src="{{ MEDIA_URL }}javascripts/app.js"></script>
</body>
</html>
